In [ ]:
import pandas as pd

In [ ]:
data = pd.read_excel('/content/лобарды_общая_с_люберцами.xlsx')

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8726 entries, 0 to 8725
Data columns (total 36 columns):
 #   Column                                                                         Non-Null Count  Dtype
---  ------                                                                         --------------  -----
 0   type                                                                           10 non-null     object
 1   properties__ResponseMetaData__SearchResponse__found                            10 non-null     float64
 2   properties__ResponseMetaData__SearchResponse__display                          10 non-null     object
 3   properties__ResponseMetaData__SearchRequest__request                           10 non-null     object
 4   properties__ResponseMetaData__SearchRequest__skip                              10 non-null     float64
 5   properties__ResponseMetaData__SearchRequest__results                           10 non-null     float64
 6   properties__ResponseMetaData__SearchRequest__boundedBy__001                    20 non-null     float64
 7   properties__ResponseMetaData__SearchRequest__boundedBy__002                    20 non-null     float64
 8   features__type                                                                 3395 non-null   object
 9   features__geometry__type                                                       3395 non-null   object
 10  features__geometry__coordinates__001                                           3395 non-null   float64
 11  features__geometry__coordinates__002                                           3395 non-null   float64
 12  features__properties__name                                                     3395 non-null   object
 13  features__properties__description                                              3395 non-null   object
 14  features__properties__boundedBy__001                                           6790 non-null   float64
 15  features__properties__boundedBy__002                                           6790 non-null   float64
 16  features__properties__CompanyMetaData__Categories__class                       2683 non-null   object
 17  features__properties__CompanyMetaData__id                                      3395 non-null   float64
 18  features__properties__CompanyMetaData__name                                    3395 non-null   object
 19  features__properties__CompanyMetaData__address                                 3395 non-null   object
 20  features__properties__CompanyMetaData__url                                     2706 non-null   object
 21  features__properties__CompanyMetaData__Phones__type                            5012 non-null   object
 22  features__properties__CompanyMetaData__Phones__formatted                       5012 non-null   object
 23  features__properties__CompanyMetaData__Categories__name                        7046 non-null   object
 24  features__properties__CompanyMetaData__Hours__text                             3283 non-null   object
 25  features__properties__CompanyMetaData__Hours__Availabilities__TwentyFourHours  239 non-null    float64
 26  features__properties__CompanyMetaData__Hours__Availabilities__Intervals__from  4103 non-null   object
 27  features__properties__CompanyMetaData__Hours__Availabilities__Intervals__to    4103 non-null   object
 28  features__properties__CompanyMetaData__Hours__Availabilities__Saturday         960 non-null    float64
 29  features__properties__CompanyMetaData__Hours__Availabilities__Sunday           770 non-null    float64
 30  features__properties__CompanyMetaData__Hours__Availabilities__Monday           1061 non-null   float64
 31  features__properties__CompanyMetaData__Hours__Availabilities__Tuesday          1071 non-null   float64
 32  features__properties__CompanyMetaData__Hours__Availabilities__Wednesday        1072 non-null   float64
 33  features__properties__CompanyMetaData__Hours__Availabilities__Thursday         1071 non-null   float64
 34  features__properties__CompanyMetaData__Hours__Availabilities__Friday           1074 non-null   float64
 35  features__properties__CompanyMetaData__Hours__Availabilities__Everyday         2209 non-null   float64
dtypes: float64(19), object(17)
memory usage: 2.4+ MB

In [ ]:
df = data.drop(data.columns[[0,1	,2	,3	,4	,5	,6	,7	,8	,9	,14,15	,16	,18	,19	,21	,25	,26	,27	,28	,29	,30	,31	,32	,33	,34	,35]], axis=1)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8726 entries, 0 to 8725
Data columns (total 9 columns):
 #   Column                                                    Non-Null Count  Dtype
---  ------                                                    --------------  -----
 0   features__geometry__coordinates__001                      3395 non-null   float64
 1   features__geometry__coordinates__002                      3395 non-null   float64
 2   features__properties__name                                3395 non-null   object
 3   features__properties__description                         3395 non-null   object
 4   features__properties__CompanyMetaData__id                 3395 non-null   float64
 5   features__properties__CompanyMetaData__url                2706 non-null   object
 6   features__properties__CompanyMetaData__Phones__formatted  5012 non-null   object
 7   features__properties__CompanyMetaData__Categories__name   7046 non-null   object
 8   features__properties__CompanyMetaData__Hours__text        3283 non-null   object
dtypes: float64(3), object(6)
memory usage: 613.7+ KB

In [ ]:
df.dropna(inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2631 entries, 0 to 8719
Data columns (total 9 columns):
 #   Column                                                    Non-Null Count  Dtype
---  ------                                                    --------------  -----
 0   features__geometry__coordinates__001                      2631 non-null   float64
 1   features__geometry__coordinates__002                      2631 non-null   float64
 2   features__properties__name                                2631 non-null   object
 3   features__properties__description                         2631 non-null   object
 4   features__properties__CompanyMetaData__id                 2631 non-null   float64
 5   features__properties__CompanyMetaData__url                2631 non-null   object
 6   features__properties__CompanyMetaData__Phones__formatted  2631 non-null   object
 7   features__properties__CompanyMetaData__Categories__name   2631 non-null   object
 8   features__properties__CompanyMetaData__Hours__text        2631 non-null   object
dtypes: float64(3), object(6)
memory usage: 205.5+ KB

In [ ]:
df.columns=['Dolgota','Shirota', 'name','adress','id_dot', 'url', 'phone', 'class', 'hours']

In [ ]:
df['class'].value_counts()

Ломбард                               2058
Комиссионный магазин                   187
Ювелирный магазин                      143
Автоломбард                            103
Скупка золота и ювелирных изделий       69
Магазин часов                           21
Ювелирная мастерская                    15
Антикварный магазин                     10
Небанковская кредитная организация       4
Ремонт бытовой техники                   4
Магазин нумизматики                      4
Компьютерный магазин                     4
Магазин электроники                      3
Кредитный брокер                         3
Расходные материалы для оргтехники       1
Микрофинансовая организация              1
Ремонт часов                             1
Name: class, dtype: int64

In [ ]:
df.drop_duplicates(inplace=True)

In [ ]:
df['class'].value_counts()

Ломбард                               839
Ювелирный магазин                      83
Комиссионный магазин                   76
Автоломбард                            48
Скупка золота и ювелирных изделий      26
Магазин часов                           8
Ювелирная мастерская                    6
Антикварный магазин                     6
Небанковская кредитная организация      1
Ремонт бытовой техники                  1
Магазин нумизматики                     1
Магазин электроники                     1
Компьютерный магазин                    1
Расходные материалы для оргтехники      1
Микрофинансовая организация             1
Кредитный брокер                        1
Ремонт часов                            1
Name: class, dtype: int64

In [ ]:
# Функция для объединения координат
def combine_coordinates(row):
    return [row['Shirota'], row['Dolgota']]

# Создаем новый столбец 'Coordinates'
df['Coordinates'] = df.apply(combine_coordinates, axis=1)

In [ ]:
df.head()

,Dolgota,Shirota,name,adress,id_dot,url,phone,class,hours,Coordinates
0,37.532602,55.607887,"Ломбард 2, 4%","Новоясеневский просп., 7, Москва, Россия",2.139742e+11,https://neolombard.ru/,+7 (499) 370-45-85,Ломбард,"ежедневно, 10:00–21:00","[55.607887, 37.532602]"
2,37.566566,55.663240,Мосгорломбард,"Перекопская ул., 34, корп. 3, Москва, Россия",6.210978e+10,https://www.mosgorlombard.ru/,+7 (499) 403-15-31,Ломбард,"ежедневно, 10:00–21:00","[55.66324, 37.566566]"
5,37.507973,55.617129,"Ломбард 2, 4%","Новоясеневский просп., 2Б, Москва, Россия",1.621501e+11,https://neolombard.ru/,+7 (499) 370-45-85,Ломбард,"пн-пт 09:00–21:00; сб,вс 10:00–21:00","[55.617129, 37.507973]"
7,37.552607,55.669895,Меридиан,"Профсоюзная ул., 56, Москва, Россия",1.204699e+09,http://www.goldlombard.ru/,+7 (499) 258-43-07,Ломбард,"ежедневно, 10:00–20:00","[55.669895, 37.552607]"
9,37.551402,55.548176,Мосгорломбард,"бул. Адмирала Ушакова, 8, Москва, Россия",3.861070e+10,https://www.mosgorlombard.ru/,+7 (499) 403-15-31,Ломбард,"ежедневно, 10:00–21:00","[55.548176, 37.551402]"

In [ ]:
df['name'].value_counts()

Мосгорломбард                  98
SUNLIGHT                       94
Победа                         50
Залог Успеха                   48
Ваш ломбард                    38
                               ..
SkupkaZolota                    1
Okkupim - скупка ноутбуков      1
Московский часовой ломбард      1
Часовой ломбард - Хроноскоп     1
Золото Дисконт                  1
Name: name, Length: 335, dtype: int64

In [ ]:
df['class'].value_counts()

Ломбард                               839
Ювелирный магазин                      83
Комиссионный магазин                   76
Автоломбард                            48
Скупка золота и ювелирных изделий      26
Магазин часов                           8
Ювелирная мастерская                    6
Антикварный магазин                     6
Небанковская кредитная организация      1
Ремонт бытовой техники                  1
Магазин нумизматики                     1
Магазин электроники                     1
Компьютерный магазин                    1
Расходные материалы для оргтехники      1
Микрофинансовая организация             1
Кредитный брокер                        1
Ремонт часов                            1
Name: class, dtype: int64

In [ ]:
# Сохранение объединенных данных в новом CSV файле с заданной кодировкой
df.to_csv('объединенный_файл_ломбардов.csv', index=False, encoding='utf-8')

# Обработка данных метро

In [ ]:
import pandas as pd

In [ ]:

df_metro = pd.read_excel('/content/метро.xlsx')
df_metro.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 361 entries, 0 to 360
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   name       361 non-null    object
 1   Dolgota    361 non-null    float64
 2   Shirota    361 non-null    float64
 3   line_name  361 non-null    object
dtypes: float64(2), object(2)
memory usage: 11.4+ KB

In [ ]:
# Функция для объединения координат
def combine_coordinates(row):
    return [row['Shirota'], row['Dolgota']]

# Создаем новый столбец 'Coordinates'
df_metro['Coordinates'] = df_metro.apply(combine_coordinates, axis=1)

In [ ]:
from geopy.distance import geodesic

# Функция для создания контура
def create_contour(coords, radius):
    nw = geodesic(kilometers=radius).destination(coords, 315)
    ne = geodesic(kilometers=radius).destination(coords, 45)
    se = geodesic(kilometers=radius).destination(coords, 135)
    sw = geodesic(kilometers=radius).destination(coords, 225)
    return [[nw.longitude, nw.latitude], [ne.longitude, ne.latitude], [se.longitude, se.latitude], [sw.longitude, sw.latitude]]

# Функция для создания полигона с "дыркой"
def create_polygon(coords, outer_radius=1, inner_radius=0.1):
    outer_contour = create_contour(coords, outer_radius)
    inner_contour = create_contour(coords, inner_radius)
    return [outer_contour, inner_contour]

# Применяем функцию к каждому ряду в DataFrame
df_metro['Polygon'] = df_metro['Coordinates'].apply(create_polygon)

In [ ]:
from geopy.distance import geodesic

# Функция для создания контура
def create_contour(coords, radius):
    points = []
    for degree in range(0, 360, 10):
        point = geodesic(kilometers=radius).destination(coords, degree)
        points.append([point.longitude, point.latitude])
    return points

# Функция для создания полигона с "дыркой"
def create_polygon(coords, outer_radius=1, inner_radius=0.1):
    outer_contour = create_contour(coords, outer_radius)
    inner_contour = create_contour(coords, inner_radius)
    return [outer_contour, inner_contour]

# Применяем функцию к каждому ряду в DataFrame
df_metro['Polygon'] = df_metro['Coordinates'].apply(create_polygon)

In [ ]:
import pandas as pd
import pyproj
from shapely.geometry import Point, Polygon
from shapely.ops import transform
from functools import partial

# функция для создания геометрии полигона вокруг заданной точки
def buffer_in_meters(lon, lat, radius):
    proj_wgs84 = pyproj.Proj('+proj=longlat +datum=WGS84')

    # азимутальная эквидистантная проекция для точки
    aeqd_proj = '+proj=aeqd +lat_0={lat} +lon_0={lon} +x_0=0 +y_0=0'
    project = partial(
        pyproj.transform,
        pyproj.Proj(aeqd_proj.format(lat=lat, lon=lon)),
        proj_wgs84)

    buf = Point(0, 0).buffer(radius * 1000)  # radius in kilometers

    return transform(project, buf).exterior.coords[:]

# функция для создания геополигона с "дыркой"
def create_polygon(coords, outer_radius=1, inner_radius=0.012):
    outer_contour = buffer_in_meters(coords[1], coords[0], outer_radius)
    inner_contour = buffer_in_meters(coords[1], coords[0], inner_radius)
    return [list(map(list, outer_contour)), list(map(list, inner_contour))]



# применяем функцию к каждому ряду в DataFrame
df_metro['Polygon'] = df_metro['Coordinates'].apply(create_polygon)

In [ ]:
df_metro.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 361 entries, 0 to 360
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         361 non-null    object
 1   Dolgota      361 non-null    float64
 2   Shirota      361 non-null    float64
 3   line_name    361 non-null    object
 4   Coordinates  361 non-null    object
 5   Polygon      361 non-null    object
dtypes: float64(2), object(4)
memory usage: 17.0+ KB

In [ ]:
df_metro.head()

,name,Dolgota,Shirota,line_name,Coordinates,Polygon
0,Новокосино,55.745113,37.864052,Калининская,"[37.864052, 55.745113]","[[[55.7564773650508, 37.86405145158008], [55.7..."
1,Новогиреево,55.752237,37.814587,Калининская,"[37.814587, 55.752237]","[[[55.76359377837432, 37.81458645255037], [55...."
2,Перово,55.750980,37.784220,Калининская,"[37.78422, 55.75098]","[[[55.76233213006633, 37.7842194531454], [55.7..."
3,Шоссе Энтузиастов,55.758090,37.751703,Калининская,"[37.751703, 55.75809]","[[[55.76943716041673, 37.75170245378202], [55...."
4,Авиамоторная,55.751933,37.717444,Калининская,"[37.717444, 55.751933]","[[[55.763274933201274, 37.71744345445216], [55..."

In [ ]:
# Сохранение объединенных данных в новом CSV файле с заданной кодировкой
df_metro.to_csv('метро-полигоны.csv', index=False, encoding='utf-8')

# Обработка скорректированных данных ломбардов

In [ ]:
import pandas as pd
data_new = pd.read_excel('/content/Книга3.xlsx')
data_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1182 entries, 0 to 1181
Data columns (total 4 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   Value.properties.CompanyMetaData.name             1182 non-null   object
 1   Value.properties.CompanyMetaData.Categories.name  1182 non-null   object
 2   Value.geometry.coordinates.2                      1182 non-null   float64
 3   Value.geometry.coordinates.1                      1182 non-null   float64
dtypes: float64(2), object(2)
memory usage: 37.1+ KB

In [ ]:
data_new.head()

,Value.properties.CompanyMetaData.name,Value.properties.CompanyMetaData.Categories.name,Value.geometry.coordinates.2,Value.geometry.coordinates.1
0,585 Золотой,Ломбард,"55,839918","37,490891"
1,585 Золотой,Ломбард,"55,756279","37,615288"
2,585 Золотой,Ломбард,"55,849688","37,439037"
3,585 Золотой,Ломбард,"55,750301","37,594926"
4,585 Золотой,Ломбард,"55,750094","37,594786"

In [ ]:
data_new.columns=['name', 'categories',  'shirota','dolgota']

In [ ]:
data_new.head()

          name categories    shirota    dolgota
0  585 Золотой    Ломбард  55.839918  37.490891
1  585 Золотой    Ломбард  55.756279  37.615288
2  585 Золотой    Ломбард  55.849688  37.439037
3  585 Золотой    Ломбард  55.750301  37.594926
4  585 Золотой    Ломбард  55.750094  37.594786

In [ ]:
data_new.drop_duplicates(inplace=True)
data_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1182 entries, 0 to 1181
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        1182 non-null   object
 1   categories  1182 non-null   object
 2   shirota     1182 non-null   float64
 3   dolgota     1182 non-null   float64
dtypes: float64(2), object(2)
memory usage: 46.2+ KB

In [ ]:
# Функция для объединения координат
def combine_coordinates(row):
    return [row['shirota'], row['dolgota']]

# Создаем новый столбец 'Coordinates'
data_new['Coordinates'] = data_new.apply(combine_coordinates, axis=1)

In [ ]:
data_new.head()

          name categories    shirota    dolgota             Coordinates
0  585 Золотой    Ломбард  55.839918  37.490891  [55.839918, 37.490891]
1  585 Золотой    Ломбард  55.756279  37.615288  [55.756279, 37.615288]
2  585 Золотой    Ломбард  55.849688  37.439037  [55.849688, 37.439037]
3  585 Золотой    Ломбард  55.750301  37.594926  [55.750301, 37.594926]
4  585 Золотой    Ломбард  55.750094  37.594786  [55.750094, 37.594786]

In [ ]:
data_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1182 entries, 0 to 1181
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         1182 non-null   object
 1   categories   1182 non-null   object
 2   shirota      1182 non-null   float64
 3   dolgota      1182 non-null   float64
 4   Coordinates  1182 non-null   object
dtypes: float64(2), object(3)
memory usage: 55.4+ KB

In [ ]:
# Сохранение объединенных данных в новом CSV файле с заданной кодировкой
data_new.to_csv('ломбарды-новая-база.csv', index=False, encoding='utf-8')